*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #f2eeee;
}
header{
    height: 20vh;
}
main{
    height: 70vh;
}
footer{
    height: 10vh;
}
li{
    list-style-type: none !important;
}
.btn-nav{
    color:rgb(25, 27, 33) !important;
    text-decoration: none !important;
}
.btn-nav:hover{
    background: rgba(25, 27, 33, 0.03) !important;
    border-radius: 7.5px !important;
    color:rgb(25,28,35) !important;
    text-decoration: none !important;
}
.btn-nav:active{
    color:rgb(25,28,35) !important;
}
footer p{
    margin-top: 10px !important;
}
/* -----MainPage----- */

#logo{
    border-radius: 60px !important;
}

.c-item{
    height: 600px !important;
}

.c-img{
    height: 100% !important;
    object-fit: cover !important;
    filter: brightness(0.6) !important;
}

/* -----ContactPage----- */
.btnForm{
    background-color: rgba(18, 18, 18, 0.943);
    border: rgba(18, 18, 18, 0.943);
}
.btnForm:hover{
    background-color:rgba(25, 27, 33, 0.849);
    border: rgba(18, 18, 18, 0.943);
}
.btnForm:active{
    background-color:rgba(18, 18, 18, 0.943) !important;
    border: rgba(18, 18, 18, 0.943);
}
.form-content{
    width: 700px;
    margin-top: 5px;
}

/* -----Ingreso Design----- */
.cursos{
    width: 500px;
}
.btn-ingreso{
    background-color: rgb(155, 155, 155);
    border: none;
}
.btn-ingreso:hover{
    background-color: rgba(192, 192, 192, 0.615);
}

/* -----Apoyo Design----- */

.btn-apoyo:hover{
    color: rgba(177, 179, 178, 0.859);
}


/* -----Responsive Design----- */
@media(max-width: 576px){

    header nav{
        display: flex !important;
        text-align: center;
    }
    #logo{
        margin-top: 20px;
    }
    .c-item{
        height: 500px !important;
    }
    .redicon{
        width: 20px;
    }
    .btn-nav{
        font-size: 1rem !important;
        padding: 5px !important;
    }
    .cursos{
        width: 900px;
    }
}
@media(min-width:576px)and(max-width:676px){
   #logo{
    margin-top: 20px !important;
   }
   .btn-nav{
    font-size: 1rem !important;    
    padding: 5px !important;
    }
 
}
@media(max-width: 768px){
    #logo{
        width: 70px !important;
    }
    .btn-nav{
        font-size: 1rem !important;
        padding: 5px !important;
    }
    .form-content{
        width: 500px;
        margin-top: 10px;
    }
    .cursos{
        width: 900px;
    }
}
@media(max-width: 992px){
    #logo{
        width: 70px !important;
    }
    .btn-nav{
        margin-bottom: 0px !important;
    }
    .cursos{
        width: 850px;
    }
}
@media(max-width: 1200px){
    .cursos{
        width: 900px;
    }
    .description{
        margin-bottom: 1px;
    }
}
@media(max-width: 1400px){
    .c-item{
        height: 500px !important;
    }
    .redicon{
        width: 30px;
    }
}
@media(min-width: 1400px){
    nav ul{
        margin-right: 1px !important;
    }
   .c-item{
        height: 500px !important;
    }
    .redicon{
        width: 40px;
    }
}